{{#if devoured}}
<li>
	{{burger_name}}
	<button class="change-devoured" data-id="{{id}}" data-newEaten="{{devoured}}">EAT!</button>
{{else}}
<li class="list-group-item disabled" aria-disabled="true">
	{{burger_name}}	
{{/if}}
</li>

{{!-- 
<li class="list-group-item">
	{{burger_name}}
{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newEaten="{{devoured}}">
		{{!-- {{#if devoured}}EAT!{{else}}YUM!{{/if}} --}}
		{{!-- EAT! --}}
	{{!-- </button>
{{/if}}
</li> --}}
